<div class="tabPanel" data-dojo-attach-point="circleContainer">
  <div class="controls">
    <div class="controlGroup">
      <label>Create Circle From</label>
      <div class="controlItem">
        <select style="width: 225px" data-dojo-type="dijit/form/Select">
          <option value="Radius">Radius</option>
          <option value="Diameter">Diameter</option>
        </select>
      </div>
    </div>

    <div class="controlGroup">
      <label>Center Point</label>
      <div class="controlItem">
        <input class="jimu-input coordInput" placeholder="Enter Coordinates"></input>
        <span class="addPointBtn"></span>
      </div>
    </div>

    <div class="controlGroup">
      <label>Radius/Diameter</label>
      <div class="controlItem">
        <input class="jimu-input selectInput"></input>
        <select style="width: 100px" class="controlSpace" data-dojo-type="dijit/form/Select" >
          <option value="feet">Feet</option>
          <option value="kilometers">Kilometers</option>
          <option value="nauticalmiles">Nautical Mile</option>
          <option value="ussurveyfoot">US Survey Foot</option>
        </select>
      </div>
    </div>
  </div>
</div>
